<%= link_to('Back', 'javascript:history.back()') %>

<!--<div class="team roster new">-->
<!--  <h2>Update member</h2>-->

  <%#= form_for(team_roster_index_path) do |f| %>

<!--    <table summary="book form fields">-->
<!--        <tr>-->
<!--            <th>First name</th>-->
<!--            <td><%#= @student.first_name %></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Last name</th>-->
<!--            <td><%#= @student.last_name %></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Class year</th>-->
<!--            <td><%#= @student.class_year %></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Email</th>-->
<!--            <td><%#= @student.email %></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>Phone number</th>-->
<!--            <td><%#= @student.phone %></td>-->
<!--        </tr>-->

<!--    </table>-->

  <%# end %>

<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col-md-12 text-center">-->
<!--    <div class="well controls">-->
      <%#= link_to calendar_path(date: @date - 1.month), class: "btn btn-default" do %>
<!--        <i class="glyphicon glyphicon-backward"></i>-->
      <%# end %>
      <%#= "#{@date.strftime("%B")} #{@date.year}" %>
      <%#= link_to calendar_path(date: @date + 1.month), class: "btn btn-default" do %>
<!--        <i class="glyphicon glyphicon-forward"></i>-->
      <%# end %>
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="col-md-12">-->
    <%#= calendar @date do |date| %>
      <%#= date.day %>
    <%# end %>
<!--  </div>-->
<!--</div>-->
